<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Uniqa</title>
    <link rel="shortcut icon" href="uniqamente.png" type="image/png">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    {{ css('assets/app_application_style.css') }}
</head>
<body>
    <section id="app">
        @if(flashMessage('success'))
            @each(msg in flashMessage('success'))
                {{ msg }}
                <el-alert title="success alert" type="success">{{ msg }}</el-alert>
            @endeach
        @endif

        @if(flashMessage('error'))
            @each(msg in flashMessage('error'))
                {{ msg }}
                <el-alert title="error alert" type="error">{{ msg }}</el-alert>
            @endeach
        @endif

        <div class="logo"></div>
        <div class="title"></div>
        <div class="subtitle">
            <p>loading..</p>
        </div>
    </section>

    {{ script('assets/app_application.js') }}
</body>
</html>
