<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Uniqa Login</title>
        <link rel="shortcut icon" href="uniqamente.png" type="image/png">
    </head>

    <body>
        <div id="login">
            <div class="container">
                <div class="right">
                    <div class="register">
                        <el-col :lg="{span: 18, offset: 3}">
                            Register now !
                        </el-col><br><br>

                        <el-row>
                            <el-col :lg="{span: 18, offset: 3}" :md="{span: 16, offset: 4}">
                                <el-form method="post" action="/register">
                                    {{ csrfField() }}
                                    <el-form-item>
                                        <el-input type="text" name="first_name" placeholder="Firstname"></el-input>
                                    </el-form-item>

                                    <el-form-item>
                                        <el-input type="text" name="last_name" placeholder="Lastname"></el-input>
                                    </el-form-item>

                                    <el-form-item>
                                        <el-input type="text" name="email" placeholder="E-Mail"></el-input>
                                    </el-form-item>

                                    <el-form-item>
                                        <el-input type="password" name="password" placeholder="Password"></el-input>
                                    </el-form-item>

                                    <el-col :lg="{span: 1, offset: 17}">
                                        <el-form-item>
                                            <el-button native-type="submit" type="danger" size="medium">Register</el-button>
                                        </el-form-item>
                                    </el-col>
                                </el-form>
                            </el-col>
                        </el-row>
                    </div>
                </div>

                <div class="left">
                    <div class="logo">
                        <img src="uniqamente.png" height="100">
                        <br>UNIQA
                    </div>

                    <el-row>
                        <el-col :lg="{span: 18, offset: 3}" :md="{span: 16, offset: 4}">
                            <el-form method="post" action="/login">
                                {{ csrfField() }}
                                <el-form-item>
                                    <el-input type="text" name="username" placeholder="Username"></el-input>
                                </el-form-item>

                                <el-form-item>
                                    <el-input type="password" name="password" placeholder="Password"></el-input>
                                </el-form-item>

                                <el-form-item>
                                    <el-button native-type="submit" type="primary" size="medium">Login</el-button>
                                </el-form-item>
                            </el-form>
                        </el-col>
                    </el-row>
                </div>
            </div>
        </div>

        <div class="footer">
            THE AWESOME TEAM 2018
            <br><br>
            We are The Awesome Team, we create forum for<br>
            asking questions and giving answers to<br>
            help people get information.<br>

        </div>
        {{ css('assets/app_login_style.css') }}
        {{ script('assets/app_login.js') }}
    </body>
</html>
