<html>
    <head>
        <style type="text/css">
            * {
                font-family: sans-serif;
            }
            h1 {
                margin-bottom: 20px;
            }
            .box {
                padding: 20px;
                border: solid 1px #ccc;
                color: #444;
                font-size: 16px;
                min-width: 200px;
                margin: 0px auto;
            }
        </style>
    </head>
    <body>
        <center>
            <div class="title">
                <h1>Your Password</h1>
                <div class="box">{{ password }}</div>
            </div>
        </center>
    </body>
</html>
